<footer>
  <ng-container [ngSwitch]="router.url">
    <a *ngSwitchCase="'/tasks'" class="btn btn-primary" role="button" routerLink="/">Go back</a>
    <a *ngSwitchCase="'/'" class="btn btn-primary" role="button" routerLink="/tasks">Go to tasks</a>
  </ng-container>
  <div class="footer_content">
    <p>&#169; Marina Yurkevich, 06/2023</p>
    <a href="https://github.com/Marinayurkevich" target="_blank"><img class="github_logo"
        src="./assets/images/GitHub.svg" alt="GitHub logo"></a>
  </div>
</footer>
